.alert-container {
  max-width: var(--container-width);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem var(--container-offset);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1080;

  @include breakpoint-up(lg) {
    top: auto;
    bottom: 0;
  }

  .alert {
    max-width: 30rem;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform: translateX(-100vw);

    &.is-show {
      transform: translateX(0);
    }
  }
}

.alert {
  width: 100%;
  font-size: .875rem;
  line-height: 1.2;
  color: var(--light);
  background-color: var(--text-color);
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  pointer-events: auto;

  &-body {
    display: flex;
    gap: .75rem;
  }

  &-close {
    --_color: var(--light);
  }
}

.alert-error {
  background-color: var(--error);

  .alert-close {
    --_color-hover: var(--text-color);
    --_color-active: var(--text-color);
  }
}
