.articles {

  &-swiper {

    .swiper {

      @include breakpoint-down(lg) {
        margin-inline: calc(var(--container-offset) * -1);
        padding-inline: var(--container-offset);
      }
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    border-radius: .375rem;
    position: relative;

    &-picture {
      border-radius: inherit;

      img {
        width: 100%;
      }
    }

    &-image {
      display: block;
      aspect-ratio: 16 / 9;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem;
      font-size: .625rem;
      color: var(--text-color-50);

      @include breakpoint-up(lg) {
        gap: 1rem;
        font-size: .75rem;
        padding: 1.5rem 1rem;
      }
    }

    &-title {
      font-family: var(--font-family);
      font-size: var(--fs-base);
      font-weight: 700;
      color: var(--text-color);
      text-transform: initial;
      transition-property: color;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
    }

    &-time {
      font-size: inherit;
      color: inherit;
    }

    &-footer {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    .stretched-link {

      @media (hover: hover) {

        &:is(:hover, :focus-visible) {

          ~ .articles-card-body {

            .articles-card-title {
              color: var(--primary);
            }
          }
        }
      }

      &:active {

        ~ .articles-card-body {

          .articles-card-title {
            color: var(--primary);
          }
        }
      }
    }
  }
}
