.btn {
	--_width: initial;
	--_height: initial;
	--_fs: var(--fs-base);
	--_fw: 300;
	--_lh: normal;
	--_ls: inherit;
	--_border-width: 0;
	--_border-style: solid;
	--_rounded: 0;
	--_padding: 0;
	--_transition-duration: var(--transition-duration);
	--_transition-timing-function: var(--transition-timing-function);

	--_color: var(--text-color);
	--_color-hover: var(--primary);
	--_color-active: var(--primary);

  --_bg: transparent;
	--_bg-hover: transparent;
	--_bg-active: transparent;

	--_border-color: transparent;
	--_border-color-hover: transparent;
	--_border-color-active: transparent;

	--_icon-size: 1rem;
	--_icon-color: var(--_color);
	--_icon-hover-color: var(--_color-hover);
	--_icon-active-color: var(--_color-active);

	width: var(--_width);
	height: var(--_height);

	display: inline-flex;
	align-items: center;
	gap: .5rem;

	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls);
	color: var(--_color);
	cursor: pointer;
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-style) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
  pointer-events: auto;
	outline: none;
  text-align: start;
	transition-property: color, text-shadow, background-color, border-color, opacity;
	transition-duration: var(--_transition-duration);
	transition-timing-function: var(--_transition-timing-function);

	.icon {
		--_size: var(--_icon-size);
		--_color: var(--_icon-color);

    transition-property: color;
    transition-duration: var(--_transition-duration);
    transition-timing-function: var(--_transition-timing-function);
	}

	@media (hover: hover) {
		&:is(:hover, :focus-visible) {
			color: var(--_color-hover);
			background-color: var(--_bg-hover);
			border-color: var(--_border-color-hover);

      .icon {
        --_color: var(--_icon-hover-color);
      }
		}
	}

	&:is(:active, .is-active) {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);

    .icon {
      --_color: var(--_icon-active-color);
    }

    .icon-container {

      .icon {

        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }
	}

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.label-check {
  cursor: pointer;

  .btn {
    pointer-events: none;
  }
}

.btn-check {
  display: inline-flex;

	[type=checkbox],
  [type=radio] {

    &:checked + .btn {
      --_color: var(--primary);
      --_color-hover: var(--primary);
      --_color-active: var(--primary);

      .icon-container {

        .icon {

          &:first-child {
            opacity: 0;
          }

          &:last-child {
            opacity: 1;
          }
        }
      }
    }
  }

  [type=checkbox],
  [type=radio] {

    &:checked + .btn-outline-secondary {
      --_color: var(--body-bg);
      --_bg: var(--text-color);
    }
  }

  .btn {
    flex: 1 1;
  }
}

.btn-check-outline-favorite {

  [type=checkbox],
  [type=radio] {

    &:checked + .btn {
      --_color: var(--text-color);
      --_color-hover: var(--body-bg);
      --_color-active: var(--text-color);

      --_bg: transparent;

      --_icon-color: var(--primary);
      --_icon-hover-color: var(--primary);
      --_icon-active-color: var(--primary);
    }
  }
}

.btn-inline {
	--_color: inherit;
}

.btn-inherit {
	--_fs: inherit;
	--_fw: inherit;
	--_lh: inherit;
	--_ls: inherit;
	--_color: inherit;

	display: inline;
	text-transform: initial;
}

.btn-inherit-notcolor {
	--_fs: inherit;
	--_fw: inherit;
	--_lh: inherit;
	--_ls: inherit;

	display: inline;
	text-transform: initial;
}

.btn-inherit--underline {
  --_color-hover: inherit;
  --_color-active: inherit;

  @media (hover: hover) {
		&:is(:hover, :focus-visible) {
      text-decoration: underline;
		}
	}
}

.btn-underline {
  text-decoration: underline;
}

.btn-reset {
  --_fs: .75rem;
  --_color: var(--text-color-50);

  @include breakpoint-up(lg) {
    --_fs: .875rem;
  }
}

.btn-icon {
  --_width: 2rem;
  --_height: 2rem;
	--_rounded: 50%;
	--_padding: .625rem;
  --_icon-size: 100%;

  position: relative;

  @include breakpoint-up(lg) {
    --_width: 2.5rem;
    --_height: 2.5rem;
    --_padding: .75rem;
  }

  .badge {
    position: absolute;
    top: 0;
    right: -.25rem;
  }

  &.btn-sm {
    --_width: 2rem;
    --_height: 2rem;
    --_padding: .625rem;
  }

  &.btn-lg {

    @include breakpoint-up(lg) {
      --_width: 3rem;
      --_height: 3rem;
      --_padding: .75rem;
    }
  }

  &.btn-menu {
    --_padding: .5rem;

    @include breakpoint-up(lg) {
      --_padding: .625rem
    }
  }
}

.btn-location {
  --_icon-size: 1.25rem;

  .icon:not(.btn-location-dropdown) {
    --_color: var(--primary);
  }

  &-dropdown.icon {
    --_size: .75rem;
  }
}

.btn-remove {
  --_color: var(--text-color-20);
}


.btn-primary {
  --_color: var(--light);
  --_color-hover: var(--light);
  --_color-active: var(--light);

  --_bg: var(--primary);
  --_bg-hover: var(--text-color);
  --_bg-active: var(--text-color);
}

.btn-secondary {
  --_color: var(--light);
  --_color-hover: var(--light);
  --_color-active: var(--light);

  --_bg: var(--text-color);
  --_bg-hover: var(--primary);
  --_bg-active: var(--primary);

  &:disabled {
    opacity: 0.2;
  }
}

.btn-outline-secondary {
  --_border-width: .0625rem;
  --_border-color: var(--text-color-20);

  --_color: var(--text-color);
  --_color-hover: var(--light);
  --_color-active: var(--light);

  --_bg: transparent;
  --_bg-hover: var(--text-color);
  --_bg-active: var(--text-color);

  --_border-color-hover: var(--text-color);
  --_border-color-active: var(--text-color);
}

.btn-transparent-secondary {
  --_border-width: 0rem;
  --_border-color: transparent;

  --_color: var(--text-color);
  --_color-hover: var(--light);
  --_color-active: var(--light);

  --_bg: transparent;
  --_bg-hover: var(--text-color);
  --_bg-active: var(--text-color);
}

.btn-light {
  --_color-hover: var(--text-color);
  --_color-active: var(--text-color);

  --_bg: var(--light);
  --_bg-hover: #ccc;
  --_bg-active: #ccc;
}

.btn-gray-200 {
  --_color-hover: var(--light);
  --_color-active: var(--light);

  --_bg: var(--gray-200);
  --_bg-hover: var(--text-color);
  --_bg-active: var(--text-color);
}

.btn-blur-light {
  --_border-width: .0625rem;
  --_border-color: var(--light-20);

  --_color: var(--light);

  --_bg: var(--light-05);
  --_bg-hover: var(--light-05);
  --_bg-active: var(--light-05);

  --_border-color-hover: var(--light-20);
  --_border-color-active: var(--light-20);

  backdrop-filter: blur(.25rem);
}

.btn-blur-secondary {
  --_border-width: .0625rem;

  --_color: var(--text-color);

  --_bg: var(--light-10);
  --_bg-hover: var(--light-10);
  --_bg-active: var(--light-10);

  --_border-color: var(--text-color-10);
  --_border-color-hover: var(--text-color-20);
  --_border-color-active: var(--text-color-20);

  backdrop-filter: blur(.25rem);
}

.btn-volume {

  .text {
    position: relative;

    > span {

      &:last-child {
        opacity: 0;
        position: absolute;
      }
    }

    @include breakpoint-down(sm) {
      display: none;
    }
  }

  &.is-active {

    .text {
      position: relative;

      > span {

        &:first-child {
          opacity: 0;
          position: absolute;
        }

        &:last-child {
          opacity: 1;
          position: static;
        }
      }
    }
  }
}

.btn-sm {

  &:not(.btn-icon) {
    --_height: 2rem;
    --_fs: .75rem;
    --_rounded: .375rem;
    --_padding: .125rem .75rem;
    --_icon-size: 1rem;

    text-align: center;
    justify-content: center;
  }
}

.btn-base {

  &:not(.btn-icon) {
    --_height: 2.25rem;
    --_fs: .875rem;
    --_rounded: .375rem;
    --_padding: .25rem 1rem;
    --_icon-size: 1.25rem;

    text-align: center;
    justify-content: center;

    @include breakpoint-up(lg) {
      --_height: 2.5rem;
    }
  }
}

.btn-lg {

  &:not(.btn-icon) {
    --_height: 2.25rem;
    --_rounded: .375rem;
    --_padding: .25rem 1.25rem;

    text-align: center;
    justify-content: center;

    @include breakpoint-up(lg) {
      --_height: 3rem;
      --_fs: var(--fs-base);
      --_padding: .25rem 1.5rem;
    }
  }
}
