.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .btn-check {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    [type=checkbox],
    [type=radio] {

      &:checked + .btn {
        --_color: var(--primary);
        --_color-hover: var(--primary);
        --_color-active: var(--primary);
      }
    }

    .btn {
      --_color: #9A9A9A;
      --_padding: .5rem;
      --_icon-size: 1.25rem;

      @include breakpoint-up(lg) {
        --_padding: 1rem;
        --_icon-size: 1.5rem;
      }
    }
  }

  &-header {
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      display: block;
      aspect-ratio: 1 / 1;
      border-radius: .375rem;
    }
  }

  &-body {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: .75rem;

    @include breakpoint-up(lg) {
      gap: 1rem;
      margin-top: 1rem;
    }

    &-header {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      @include breakpoint-up(lg) {
        flex-direction: row;
        gap: .75rem;
      }

      .card-price {

        @include breakpoint-up(lg) {
          margin-left: auto;
        }
      }
    }
  }

  &-title {
    max-width: 11.25rem;
    font-family: var(--font-family);
    font-size: var(--fs-base);
    font-weight: 700;
    text-transform: initial;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-price {
    flex-shrink: 0;
    font-size: var(--fs-base);
    font-weight: 700;
    white-space: nowrap;
    margin: 0;
  }

  &-description {
    font-size: .625rem;
    color: var(--text-color-50);

    @include breakpoint-up(lg) {
      font-size: .75rem;
    }
  }

  &-buttons {
    display: flex;
    gap: .75rem;
    margin-top: 1rem;

    @include breakpoint-up(lg) {
      gap: 1rem;
      margin-top: 1.5rem;
    }

    .btn {
      position: relative;
      z-index: 10;
    }
  }

  &-add {
    flex: 1;
  }
}

.card--add,
.card--order,
.card--bag {
  flex-direction: row;
  gap: .5rem;
  background-color: var(--light);
  border-radius: .5rem;
  padding: 1rem;

  @include breakpoint-up(lg) {
    gap: 1rem;
  }

  .card-header {
    width: 5.5rem;
    height: 5.5rem;
    flex-shrink: 0;
  }

  .card-body,
  .card-content {
    gap: .5rem;

    @include breakpoint-up(lg) {
      justify-content: space-between;
      gap: 1rem;
    }
  }

  .card-body {
    max-width: 100%;
    margin-top: 0;
    gap: .5rem;
    overflow: hidden;
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    text-align: end;
  }

  .card-title {
    max-width: 100%;
    font-size: var(--fs-base);
  }

  .card-stock {
    max-width: 100%;
    font-size: .75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-price {
    font-size: .875rem;
  }

  .counter {
    margin-top: auto;
    order: 1;

    @include breakpoint-up(lg) {
      margin-top: unset;
      order: initial;
    }
  }
}

.card--order {

  .card-body {

    @include breakpoint-up(lg) {
      flex-direction: row;
      margin-right: 2rem;
    }
  }

  .counter {

    @include breakpoint-up(lg) {
      align-self: center;
    }
  }

  .card-stock {

    @include breakpoint-up(lg) {
      font-size: .875rem;
      white-space: initial;
      overflow: initial;
      text-overflow: initial;
    }
  }

  .card-footer {

    @include breakpoint-up(lg) {
      flex-direction: row-reverse;
      align-items: center;
      gap: 3rem;
      text-align: initial;
    }
  }
}

.card--add {
  flex-wrap: wrap;
  gap: 1rem .5rem;

  @include breakpoint-up(lg) {
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .card-body {
    flex-direction: row;
    justify-content: space-between;

    @include breakpoint-up(lg) {
      align-items: center;
      margin-right: 1.5rem;
    }
  }

  .card-content {
    gap: .5rem;
  }

  .card-descr {
    max-width: 20rem;
    font-size: .75rem;
    color: var(--gray);

    @include breakpoint-up(lg) {
      font-size: .875rem;
    }
  }

  .card-footer {
    width: 100%;
    align-items: stretch;
    justify-content: initial;
    text-align: initial;

    @include breakpoint-up(lg) {
      width: auto;
      flex-direction: row;
      align-items: center;
    }
  }

  .card-add {
    flex: initial;
  }
}
