.choices {
  font-size: .875rem;
  margin: 0;

  &::after {
    all: initial;
  }

  &[data-type*=select-one] {

    .choices__inner {
      padding-bottom: .25rem;
    }

    .choices__input {
      min-height: 3rem;
      border: none;
      border-radius: .5rem;
      padding: .25rem 1rem .25rem 2.5rem;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.66666 14C11.1645 14 14 11.1644 14 7.66665C14 4.16884 11.1645 1.33331 7.66666 1.33331C4.16886 1.33331 1.33333 4.16884 1.33333 7.66665C1.33333 11.1644 4.16886 14 7.66666 14Z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6667 14.6666L13.3333 13.3333' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 1rem center;
      background-size: .875rem;
    }

    &::after {
      all: initial;
    }
  }

  .choices__inner {
    min-height: 3rem;
    display: inline-flex;
    align-items: center;
    font-size: inherit;
    background-color: var(--light);
    border: .0625rem solid var(--text-color-20);
    border-radius: .5rem;
    padding: .25rem 1rem;

    .icon {
      --_size: .875rem;

      order: 10;

      @include breakpoint-up(lg) {
        --_size: 1rem;
      }
    }
  }

  .choices__list {

    &-icon {
      transition-property: transform;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
    }

    &--single {
      max-width: 100%;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      mask-image: linear-gradient(to right, #000 0, #000 calc(100% - 1rem - 1rem), transparent calc(100% - 1rem));
    }

    &--dropdown {
      background-color: var(--light);
      margin-top: 0;
      border: .0625rem solid var(--text-color-20);
      border-top: none;
      border-radius: 0 0 .5rem .5rem;
      z-index: 1040;

      .choices__list {
        max-height: 10rem;
      }

      .choices__item {
        font-size: inherit;
        padding: .75rem 1rem;

        &--selectable {
          border-radius: .5rem;

          &.is-highlighted {
            color: var(--light);
            background-color: var(--text-color);
          }
        }
      }
    }
  }

  &.is-open {

    .choices__inner {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .choices__list {

      &-icon {
        transform: rotateX(180deg);
      }

      &--dropdown {
        border-color: var(--text-color-20);
      }
    }
  }

  &.is-flipped {

    .choices__inner {
      border-bottom: .0625rem solid var(--text-color-20);
      border-radius: 0 0 .5rem .5rem;
    }

    .choices__list {

      &--dropdown {
        border-top: .0625rem solid var(--text-color-20);
        border-bottom: none;
        border-radius: .5rem .5rem 0 0;
      }
    }
  }

  &__placeholder {
    color: var(--text-color-50);
    opacity: 1;
  }
}

.choices--filter {
  font-size: .75rem;

  .choices__inner {
    min-height: 2.25rem;
    color: var(--body-bg);
    background-color: var(--dark);
    border-color: var(--dark);

    @include breakpoint-up(lg) {
      min-height: 3rem;
    }
  }

  .choices__placeholder {
    color: inherit;
  }

  &.is-open {

    .choices__inner {
      color: inherit;
      background-color: var(--light);
      border-color: var(--text-color-20);
    }
  }
}
