.content-container {
  max-width: 43rem;
  margin-inline: auto;
}

.content-cols {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;

  @include breakpoint-up(md) {
    grid-template-columns: minmax(0, .5fr) minmax(0, 1fr);
  }
}

.content-contents {
  display: contents;
}

.content-col {
  border-top: .0625rem solid var(--text-color-20);
  border-radius: .75rem;
  padding-block: 1.5rem .5rem;

  @include breakpoint-up(md) {
    padding-block: 2rem;
  }

  &:nth-child(2n) {

    @include breakpoint-down(md) {
      border-top: none;
      border-radius: 0;
      padding-block: 0 1.5rem;
    }
  }

  &:last-child {

    @include breakpoint-down(md) {
      padding-bottom: 0;
    }
  }
}

.content-collapse {
  grid-column: -1 / 1;
  border-top: none;
  border-radius: 0;
  padding: 0;

  &:not(:last-child) {

    .content-col {

      &:nth-child(2n) {

        @include breakpoint-down(md) {
          padding-block: 0 1.5rem;
        }
      }
    }
  }
}

.content-tab {

  > nav {
    margin-bottom: 2.25rem;

    @include breakpoint-up(lg) {
      margin-bottom: 3.75rem;
    }
  }
}

.content-form {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: .5rem;

  @include breakpoint-up(lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.content-fieldset {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0;
  border: none;
  padding: 0;
}

.content {
  font-size: .75rem;
  line-height: 1.4;

  h2,
  h3 {
    font-family: inherit;
    font-weight: 600;
    line-height: inherit;
    text-transform: initial;

    + ul,
    + ol {
      margin-top: .5rem;
    }
  }

  h2 {
    font-size: 1rem;
    margin-block: 2rem 1.25rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: .875rem;
    margin-block: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol,
  ul {
    margin-block: 1rem;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;

    li {

      &::before {
        content: '•';
        display: inline-block;
        margin-inline: .25rem;
      }
    }
  }

  ol {
    padding-left: .875rem;
  }

  a:not([class]) {
    display: inline;
    color: var(--primary);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    @media (hover: hover) {

      &:is(:hover, :focus-visible) {
        color: var(--primary-50);
      }
    }

    &:active {
      color: var(--primary-50);
    }
  }

  p + p {
    margin-top: .5rem;
  }

  blockquote {
    font-size: 1rem;
    background-color: #e9e9e9;
    margin: 1.5rem 0;
    border-radius: .5rem;
    padding: 1.5rem 2rem;

    @include breakpoint-up(lg) {
      margin: 2rem 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cards-swiper {
    margin: 1.5rem 0;

    @include breakpoint-up(lg) {
      margin: 2rem 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint-up(lg) {
    margin-bottom: 1rem;
  }
}

.content-title {
  font-size: 1rem;

  @include breakpoint-up(lg) {
    font-size: 1.125rem;
  }
}

.content-picture {
  grid-column: -1 / 1;
  margin-bottom: 2rem;

  @include breakpoint-up(lg) {
    margin-bottom: 3rem;
  }

  img {
    width: 100%;
    display: block;
    border-radius: .5rem;
  }
}
