.counter {
  max-width: 100%;
  flex: 1 1 auto;
  display: flex;
  color: var(--body-bg);
  background-color: var(--text-color);
  border-radius: .5rem;

  &-field {
    --_height: 2.25rem;
    --_fw: 700;

    --_color-placeholder: inherit;

    --_bg: transparent;
    --_bg-hover: transparent;
    --_bg-active: transparent;

    max-width: 100%;
    min-width: 0;
    border: none;
    text-align: center;

    @include breakpoint-up(lg) {
      --_height: 2.5rem;
    }

    &-control {
      max-width: 100%;
      flex: 1 1 100%;
    }
  }

  &-button {
    --_width: 2.25rem;
    --_height: 2.25rem;
    --_color: inherit;

    flex-shrink: 0;

    @include breakpoint-up(lg) {
      --_width: 2.5rem;
      --_height: 2.5rem;
    }
  }
}

.counter-sm {
  max-width: 5rem;
  flex: initial;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 0;

  .counter-field {
    --_height: auto;
    --_padding: 0;

    flex: 1 1;
  }

  .counter-button {
    --_width: 1.5rem;
    --_height: 1.5rem;
    --_rounded: .25rem;
    --_padding: .375rem;

    --_color: var(--text-color-20);
    --_color-hover: var(--text-color);
    --_color-active: var(--text-color);

    --_bg-hover: var(--text-color-10);
    --_bg-active: var(--text-color-10);
  }
}
