.empty {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: .875rem;

  &-picture {
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    background-color: var(--light);
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    h1,
    h2,
    h3 {
      font-family: inherit;
      font-size: 1.25rem;
      text-transform: initial;
    }
  }
}
