.feedback {

  > .container {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;

    @supports(height: 100dvh) {
      min-height: calc(100dvh - var(--header-height));
    }
  }

  &-body {
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include breakpoint-up(lg) {
      gap: 3.75rem;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;

    h1 {
      font-size: 2rem;

      @include breakpoint-up(lg) {
        font-size: 3.125rem;
      }
    }

    p {
      font-size: 1.5rem;

      @include breakpoint-up(lg) {
        font-size: 2rem;
      }
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
  }
}
