.form-control-requireds,
.form-fieldset-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .75rem 1rem;
	color: var(--gray-300);

	.form-check {
		color: inherit;

		&-input {

			&:checked {
				--bs-form-check-bg-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Ccircle cx="10" cy="10" r="8" stroke="none" fill="%23b3b3b3" /%3E%3C/svg%3E')
			}
		}
	}

	&:not(:first-child) {
		margin-top: 1.5rem;
	}

	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.form-control-requireds {

	.required {
		color: inherit;
		margin-bottom: 0;
	}
}

.form-fieldset-header {
	flex-wrap: wrap;

	&-title {
		font-size: 1.25rem;
		font-weight: 300;
		letter-spacing: normal;
		color: inherit;
	}
}

.field-control,
.fieldset {
	position: relative;
}

.field-control {

	+ .field-control,
	+ .btn-submit {
		margin-top: 1.5rem;
	}
}

.field {
	--_width: 100%;
	--_height: 2.5rem;

	--_fs: var(--fs-base);
	--_fw: var(--fw-base);
	--_lh: var(--lh-base);
	--_ls: var(--ls-base);
	--_color: var(--gray-300);
	--_bg: transparent;
	--_border-width: 1px;
	--_border-solid: solid;
	--_border-color: currentColor;
	--_rounded: 1.5rem;
	--_padding: .625rem 1rem;

	--_color-hover: var(--gray-800);
	--_bg-hover: transparent;
	--_border-color-hover: currentColor;

	--_color-active: var(--gray-800);
	--_bg-active: transparent;
	--_border-color-active: currentColor;

	width: var(--_width);
	min-height: var(--_height);
	display: block;
	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls, normal);
	color: var(--_color);
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-solid) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	appearance: none;
	transition-property: color, background, border;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@media (min-width: 992px) {
		--_height: 3.125rem;
		--_padding: .78125rem 1rem;
	}

	&::placeholder {
		font: inherit;
		color: currentColor;
	}

	&:focus-visible {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);
	}
}

textarea {
	height: 7.5rem;
	resize: none;

	@media (min-width: 992px) {
		height: 10rem;
	}
}

.required {
	font-size: .625rem;
	color: var(--gray-300);
	margin-inline-start: auto;
	margin-bottom: .5rem;
	text-align: end;

	@media (min-width: 992px) {
		font-size: .75rem;
	}
}

.btn-submit {
	--_width: 100%;

	&:not(:first-child) {
		margin-top: 1.5rem;
	}
}

.field-controls {

	+ .field-controls {
		margin-top: 1.5rem;
	}
}

[data-has-fields] {
	display: grid;
	gap: 1.5rem;

	.field-control {
		margin: 0;
	}

	[data-columns-field="2"] {
		@media (min-width: 992px) {
			grid-column: span 2;
		}
	}
}

[data-has-fields="2"] {

	@media (min-width: 992px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

[data-has-fields="3"] {
	@media (min-width: 992px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}