.filter {
  flex-direction: column;

  &,
  &-top,
  &-bottom,
  &-start-toggle,
  &-end {
    display: flex;
  }

  &,
  &-top {
    gap: 1rem;

    @include breakpoint-up(lg) {
      gap: 1.75rem;
    }
  }

  &-bottom {
    flex-direction: column;

    @include breakpoint-up(lg) {
      display: none;
    }

    .filter-btn-sort {

      &[data-bs-toggle="offcanvas"] {
        justify-content: center;

        .text {
          display: inline;
        }
      }
    }
  }

  &-start {
    flex: 1 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;

    &-toggle {
      flex-wrap: wrap;
      gap: .5rem;

      @include breakpoint-down(lg) {
        display: none;
      }

      &--mobile {
        max-width: 100%;
        display: flex;

        @include breakpoint-up(lg) {
          display: none;
        }

        .choices {
          max-width: 100%;
          flex: 1 1 100%;
        }
      }
    }
  }

  &-end {
    flex-shrink: 0;
    gap: 1.5rem;

    @include breakpoint-up(lg) {
      flex-direction: column;
      align-items: end;
      gap: .75rem;
      text-align: end;
    }

    .dropdown--filter {

      @include breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &-btn {

    &-sort {
      display: flex;
      gap: .5rem;

      &[data-bs-toggle="offcanvas"] {

        @include breakpoint-down(lg) {
          --_icon-size: 1.5rem;
        }

        .text {

          @include breakpoint-down(lg) {
            display: none;
          }
        }
      }

      &--mobile {

        @include breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &-header {
      display: flex;
      align-items: center;

      .field-toggle {
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;

        &-content {
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
