.gift-swiper {
  max-width: 100%;
  position: relative;

  @include breakpoint-up(md) {
    background-color: var(--light);
    border-radius: .5rem;
    padding-block: 3rem;
  }

  &-slide {
    opacity: .2;
    position: relative;
    transition-property: opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &-image {
      display: block;
      border-radius: .5rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--light);
      padding: 1.25rem;
      position: absolute;
      inset: 0;

      @include breakpoint-up(lg) {
        padding: 1.5rem;
      }
    }

    &-price,
    &-title {
      font-family: var(--font-second);
      font-weight: 600;
      line-height: 1.1;
    }

    &-price {
      font-size: .75rem;
      text-transform: uppercase;
      align-self: flex-start;
      background-color: var(--dark-20);
      border-radius: .25rem;
      padding: .375rem .75rem;
      backdrop-filter: blur(.75rem);
    }

    &-title {
      font-size: 1.25rem;
    }
  }

  .swiper {
    margin-inline: calc(-1 * var(--container-offset));
    padding-inline: var(--container-offset);

    @include breakpoint-up(md) {
      margin-inline: 0;
      padding-inline: 0;
    }
  }

  .swiper-slide {

    @media (min-width: 26.25rem) {
      width: auto;
    }

    &-active {

      .gift-swiper-slide {
        opacity: 1;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    transform: translateY(-50%);

    @include breakpoint-down(lg) {
      display: none;
    }
  }

  .swiper-navigation {
    margin-top: 1rem;
    position: static;

    @include breakpoint-up(lg) {
      display: none;
    }
  }

  .swiper-pagination {
    --swiper-pagination-color: var(--text-color);
    --swiper-pagination-bullet-inactive-color: var(--text-color);

    justify-content: center;
  }
}

.gift-nominal {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint-up(lg) {
    gap: 1.5rem;
  }
}

.gift-toggle,
.gift-form {
  display: grid;
  gap: .5rem;

  @include breakpoint-up(lg) {
    gap: 1rem;
  }
}

.gift-toggle {
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include breakpoint-up(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.gift-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include breakpoint-up(lg) {
    gap: 2.5rem;
  }
}

.gift-submit {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  @include breakpoint-up(lg) {
    margin-top: .25rem;
  }
}

.gift-policy {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  .btn {
    --_fs: .75rem;
    --_lh: 1.2;

    --_color: var(--text-color-50);
  }
}
