.grid-card {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;

  @include breakpoint-up(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint-up(md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2.5rem 1rem;
  }
}

.grid-more {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
