.new-arrivals {

  &-swiper {
    margin-top: 1rem;

    @include breakpoint-up(lg) {
      margin-top: 3rem;
    }

    .swiper-wrapper {

      @include breakpoint-up(md) {
        justify-content: center;
      }
    }

    .swiper-slide {
      width: auto;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;

    &-picture {
      width: 4rem;
      height: 4rem;
      border: 1px solid var(--text-color-20);
      border-radius: 50%;
      overflow: hidden;

      transition-property: border;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);

      @include breakpoint-up(lg) {
        border-width: 2px;
      }

      picture {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .image {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &-title {
      font-family: var(--font-family);
      font-size: .625rem;
      font-weight: 400;
      color: var(--text-color);
      text-transform: initial;

      transition-property: color;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);

      @include breakpoint-up(lg) {
        font-size: .875rem;
      }
    }

    @media (hover: hover) {

      &:is(:hover, :focus-visible) {

        .new-arrivals-card-picture {
          border-color: var(--primary-50);
        }

        .new-arrivals-card-title {
          color: var(--primary);
        }
      }
    }

    &:is(:active, .is-active) {

      .new-arrivals-card-picture {
        border-color: var(--primary-50);
      }

      .new-arrivals-card-title {
        color: var(--primary);
      }
    }
  }
}
