// stylelint-disable function-disallowed-list

%offcanvas-css-vars {
  // scss-docs-start offcanvas-css-vars
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 25rem;
  --bs-offcanvas-height: 100%;
  --bs-offcanvas-padding: 1.5rem 0;
  --bs-offcanvas-color: inherit;
  --bs-offcanvas-bg: var(--light);
  --bs-offcanvas-border-width: 0;
  --bs-offcanvas-border-color: transparent;
  --bs-offcanvas-box-shadow: 0px 0.3px 0px 0px rgba(0, 0, 0, 0.01), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  --bs-offcanvas-transition: transform var(--transition-duration) var(--transition-timing-function);
  --bs-offcanvas-title-line-height: var(--lh-base);
}

.offcanvas {
  @extend %offcanvas-css-vars;

  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--bs-offcanvas-width);
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  padding-inline: var(--container-offset);
  box-shadow: var(--bs-offcanvas-box-shadow);
  outline: 0;
  transition: var(--bs-offcanvas-transition);

  &.offcanvas-start {
    top: 0;
    left: 0;
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  &.offcanvas-end {
    top: 0;
    right: 0;
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  &.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  &.offcanvas-bottom {
    right: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    justify-content: end;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }

  &.showing,
  &.show:not(.hiding) {
    transform: none;
  }

  &.showing,
  &.hiding,
  &.show {
    visibility: visible;
  }
}

.offcanvas-backdrop {
  display: block;
  background-color: var(--backdrop);
  backdrop-filter: blur(.5rem);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 1040;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  border-bottom: .0625rem solid var(--border-color);
  padding: var(--bs-offcanvas-padding);

  .btn-close {
    margin-left: auto;
  }
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: var(--bs-offcanvas-title-line-height);
}

.offcanvas-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--bs-offcanvas-padding);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  .header-nav {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    .dropdown--menu {

      .dropdown-toggle {
        --_icon-size: .75rem;

        width: 100%;
      }

      .dropdown-menu {
        display: block;
        padding: var(--bs-offcanvas-padding);
        padding-top: 1.5rem;
        opacity: 0;
        inset: 0 !important;
        position: absolute !important;
        transform: translateX(100%) !important;
        transition-property: transform, opacity;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);

        &.show {
          opacity: 1;
          transform: translateX(0) !important;
        }
      }
    }


    .dropdown--menu .dropdown-toggle,
    > .btn {
      --_fw: 500;

      font-family: var(--font-second);
      text-transform: uppercase;

      .text {
        flex: 1;
      }
    }
  }

  .menu-col {
    ul {
      padding-bottom: 1.5rem;
    }
  }
}

.offcanvas-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-top: .0625rem solid var(--border-color);
  padding: var(--bs-offcanvas-padding);
}



.offcanvas--filter {
  --bs-offcanvas-width: 38.25rem;
  --bs-offcanvas-bg: var(--body-bg);

  background-color: transparent;
  padding: 0;
  box-shadow: none;
  pointer-events: none;

  @include breakpoint-up(sm) {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }

  .btn-close,
  .offcanvas-content {
    pointer-events: auto;
  }

  .btn-close {
    align-self: flex-end;
    margin: .625rem;

    @include breakpoint-up(sm) {
      align-self: initial;
      margin: 0;
    }
  }

  .offcanvas-content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    background-color: var(--bs-offcanvas-bg);
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
    position: relative;

    @include breakpoint-up(sm) {
      border-radius: .5rem;
    }
  }

  .offcanvas-header,
  .offcanvas-body,
  .offcanvas-footer {
    padding-inline: 1rem;

    @include breakpoint-up(lg) {
      padding-inline: 2.5rem;
    }
  }

  .offcanvas-header {
    justify-content: space-between;
    gap: 1rem;
  }

  .offcanvas-body {
    gap: 1.5rem;
  }

  .offcanvas-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: none;
  }

  ~ .offcanvas-backdrop {
    --backdrop: var(--text-color-50);
  }

  .field-radio {
    justify-content: space-between;
  }
}


.offcanvas--bag {

  .offcanvas-body {
    background-color: var(--bs-offcanvas-bg);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: relative;
    z-index: 1;
  }

  .offcanvas-footer {
    flex-direction: row;
    color: var(--light);
    background-color: var(--text-color);
    position: relative;

    &::after {
      content: '';
      height: 1rem;
      background-color: var(--text-color);
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
    }
  }
}

.offcanvas--auth {

  .offcanvas-header {
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    @include breakpoint-up(sm) {
      flex-direction: row;
      align-items: center;
      text-align: start;
    }
  }

  .offcanvas-footer {
    gap: 1rem;

    .hint {
      text-align: center;
    }
  }
}
