.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
  margin-block: 1.5rem;

  @include breakpoint-up(lg) {
    gap: 1.5rem;
    margin-block: 3.75rem;
  }

  &-title {
    font-size: 2rem;
    text-align: center;

    @include breakpoint-up(lg) {
      font-size: 3.125rem;
    }
  }
}
