.section {
  margin-bottom: 2.5rem;

  @include breakpoint-up(lg) {
    margin-bottom: 7.5rem;
  }

  &-border {

    &::before {
      content: '';
      display: block;
      margin-inline: max(var(--container-offset), calc((100% - var(--content-width)) / 2));
      margin-bottom: 2.5rem;
      border-top: 1px solid var(--text-color-20);
    }
  }

  &-header {
    display: flex;
    margin-bottom: 1.5rem;

    @include breakpoint-up(lg) {
      margin-bottom: 2.5rem;
    }

    &-more {
      display: flex;
      align-items: flex-end;
      gap: 1rem;

      .btn-more {
        --_fs: .75rem;

        @include breakpoint-up(lg) {
          --_fs: var(--fs-base);
        }
      }
    }
  }

	&-title {
    flex: 1;

		+ .section-subtitle {
			margin-top: 1rem;
		}
	}

	&-subtitle {
		font-size: 1.5rem;
	}

  &-more {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    &:empty {
      display: none;
    }
  }
}
