.section {
  margin-bottom: 2.5rem;

  @include breakpoint-up(lg) {
    margin-bottom: 7.5rem;
  }

	&-header {
		margin-bottom: 1.5rem;

		@media (min-width: 992px) {
			margin-bottom: 2.5rem;
		}
	}

	&-title {

		+ .section-subtitle {
			margin-top: 1rem;
		}
	}

	&-subtitle {
		font-size: 1.5rem;
	}
}
