.subscribe {

  &-header,
  &-footer {
    position: relative;

    .image {
      width: 100%;
      display: inline-block;
      border-radius: .375rem;
    }
  }

  &-header {

    @include breakpoint-down(md) {
      display: flex;
      align-items: flex-end;
      gap: .5rem;
    }

    picture {

      &:first-child {

        @include breakpoint-down(md) {
          flex: 1;
        }

        .image {
          height: 35vw;

          @include breakpoint-up(md) {
            max-width: 8.75rem;
            height: auto;
            position: absolute;
            top: 100%;
          }

          @include breakpoint-up(xl) {
            max-width: 12.5rem;
            top: 110%;
          }
        }
      }

      &:nth-child(2) {

        @include breakpoint-down(md) {
          flex: 1;
        }

        .image {
          margin-bottom: 2rem;

          @include breakpoint-up(md) {
            max-width: 12.5rem;
            margin-left: 22.5%;
            margin-bottom: 0;
          }

          @include breakpoint-up(xl) {
            max-width: 14rem;
            margin-left: 27.5%;
          }
        }
      }

      &:nth-child(3) {

        @include breakpoint-down(md) {
          display: none;
        }

        .image {

          @include breakpoint-up(md) {
            max-width: 8.75rem;
            position: absolute;
            top: 70%;
            right: 0;
          }

          @include breakpoint-up(xl) {
            max-width: 12.5rem;
          }
        }
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block: 2.5rem 1.25rem;

    @include breakpoint-up(lg) {
      gap: 2rem;
      margin-block: 5rem 3rem;
    }
  }

  &-footer {

    @include breakpoint-down(md) {
      display: flex;
      gap: .5rem;
    }

    picture {

      &:first-child {

        @include breakpoint-down(md) {
          flex-basis: 23.75%;
        }

        .image {

          @include breakpoint-up(md) {
            max-width: 12.5rem;
            margin-top: 3rem;
            margin-left: 17.5%;
          }

          @include breakpoint-up(xl) {
            max-width: 14rem;
            margin-top: 4rem;
            margin-left: 25%;
          }
        }
      }

      &:nth-child(2) {

        @include breakpoint-down(md) {
          flex: 1;
        }

        .image {
          margin-top: 2.5rem;

          @include breakpoint-up(md) {
            max-width: 7.5rem;
            margin-top: 0;
            margin-left: 10%;
            vertical-align: top;
          }

          @include breakpoint-up(xl) {
            max-width: 8.75rem;
          }
        }
      }

      &:nth-child(3) {

        @include breakpoint-down(md) {
          flex-basis: 23.75%;
        }

        .image {
          margin-top: 100%;

          @include breakpoint-up(md) {
            max-width: 8.75rem;
            margin-top: 0;
            position: absolute;
            right: 0;
            bottom: -2rem;
          }

          @include breakpoint-up(xl) {
            max-width: 12.5rem;
            bottom: -4rem;
          }
        }
      }
    }
  }
}
