.subscribe {

  &-header,
  &-footer {
    display: flex;
    gap: .5rem;
    position: relative;

    .image {

      display: inline-block;
      border-radius: .375rem;
    }
  }

  &-header {
    align-items: flex-end;

    @include breakpoint-up(md) {
      align-items: stretch;
      gap: 2rem;
    }

    picture {

      &:first-child {
        display: none;

        @include breakpoint-up(md) {
          display: block;
          margin-right: auto;
        }
      }

      &:nth-child(2) {
        flex: 1;

        @include breakpoint-up(md) {
          flex: initial;
        }

        .image {
          height: 35vw;

          @include breakpoint-up(md) {
            height: auto;
          }
        }
      }

      &:nth-child(3) {
        flex: 1;

        @include breakpoint-up(md) {
          flex: initial;
        }

        .image {
          margin-bottom: 2rem;

          @include breakpoint-up(md) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block: 2.5rem 1.25rem;

    @include breakpoint-up(lg) {
      gap: 2rem;
      margin-block: 4rem;
    }
  }

  &-footer {

    @include breakpoint-up(md) {
      align-items: end;
      gap: 1.25rem;
    }

    picture {

      &:first-child {
        flex-basis: 23.75%;

        @include breakpoint-up(md) {
          flex-basis: initial;
        }
      }

      &:nth-child(2) {
        flex: 1;

        @include breakpoint-up(md) {
          flex: initial;
        }

        .image {
          margin-top: 2.5rem;

          @include breakpoint-up(md) {
            margin-top: 0;
          }
        }
      }

      &:nth-child(3) {
        flex-basis: 23.75%;

        @include breakpoint-up(md) {
          margin-left: auto;
          flex-basis: initial;
        }

        .image {
          margin-top: 100%;

          @include breakpoint-up(md) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
