/* stylelint-disable */
:root {
  --font-family: "Onest", sans-serif;
  --font-second: "Benzin", sans-serif;
  --font-third: "BasisGrotesqueArabicPro", sans-serif;
  --font-fourth: "PPEditorialNew", sans-serif;
  --content-width: 1232px;
  --container-offset: 1rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --fs-base: .875rem;
  --fw-base: 400;
  --lh-base: normal;
  --title-color: #000;
  --text-color: #282828;
  --text-color-50: rgba(40, 40, 40, 0.5);
  --primary: #D51E28;
  --dark: #000;
  --light: #fff;
  --gray: #808080;
  --gray-200: #f5f5f5;
  --border-color: rgba(40, 40, 40, 0.1);
  --backdrop: rgba(255, 255, 255, 0.1);
  --body-bg: #fff;
  --rounded: 1rem;
  --shadow: 0px 0px .625rem .125rem rgba(0,0,0,0.375);
  --shadow-sm: 0px 0px .625rem .125rem rgba(0,0,0,0.25);
  --transition-duration: 300ms;
  --transition-timing-function: ease-in-out;
}

@media (min-width: 991.98px) {
  :root {
    --fs-base: 1rem;
  }
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Benzin";
  src: url("../fonts/Benzin-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Benzin";
  src: url("../fonts/Benzin-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "BasisGrotesqueArabicPro";
  src: url("../fonts/BasisGrotesqueArabicPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "BasisGrotesqueArabicPro";
  src: url("../fonts/BasisGrotesqueArabicPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PPEditorialNew";
  src: url("../fonts/PPEditorialNew-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page-body {
  min-width: 20rem;
  min-height: 100%;
  margin: 0;
  font-family: var(--font-family, sans-serif);
  font-size: var(--fs-base);
  font-weight: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--text-color);
  letter-spacing: -0.02em;
  background-color: var(--body-bg);
}

.page-body,
.site-container,
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site-container,
.main,
.main-section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

p + p {
  margin-top: 1rem;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.hover-underline {
  --_underline-size: .125em;
  --_underline-offset: .125em;
}
.hover-underline .text {
  background-image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
  background-image: linear-gradient(90deg, currentColor, currentColor);
  background-size: 0% var(--_underline-size);
  background-repeat: no-repeat;
  background-position: left 100%;
  margin-bottom: calc(var(--_underline-offset) * -1);
  padding-bottom: var(--_underline-offset);
  -webkit-transition-property: background-size;
  transition-property: background-size;
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
  transition-timing-function: var(--transition-timing-function);
}
@media (hover: hover) {
  .hover-underline:is(:hover, :active, .is-active) {
    text-shadow: -0.030625rem 0 currentColor, 0 0.030625rem currentColor, 0.030625rem 0 currentColor, 0 -0.030625rem currentColor;
  }
  .hover-underline:is(:hover, :focus-visible) .text {
    background-size: 100% var(--_underline-size);
  }
}

.is-hidden {
  display: none !important;
}

.is-invisible {
  opacity: 0 !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.text-underline {
  text-decoration-line: underline !important;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.125em;
}

.stretched-link {
  position: absolute;
  inset: 0;
}
.stretched-link::after {
  content: "";
  display: block;
  cursor: pointer;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.text-primary {
  color: var(--primary) !important;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.section-header {
  margin-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .section-header {
    margin-bottom: 3rem;
  }
}
.section-title, .section-subtitle {
  color: var(--gray-400);
  text-transform: uppercase;
}
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.25em;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}
.section-title + .section-subtitle {
  margin-top: 1rem;
}
.section-subtitle {
  font-size: 1.5rem;
}

.icon {
  --_size: 1rem;
  --_color: currentColor;
  width: var(--_size);
  height: var(--_size);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--_color);
}
.icon svg {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.btn {
  --_width: initial;
  --_height: initial;
  --_fs: var(--fs-base);
  --_fw: 300;
  --_lh: normal;
  --_ls: inherit;
  --_color: var(--text-color);
  --_bg: transparent;
  --_border-width: 0;
  --_border-style: solid;
  --_border-color: transparent;
  --_rounded: 0;
  --_padding: 0;
  --_transform: translateZ(0);
  --_transition-duration: var(--transition-duration);
  --_transition-timing-function: var(--transition-timing-function);
  --_color-hover: var(--primary);
  --_bg-hover: transparent;
  --_border-color-hover: transparent;
  --_transform-hover: translateZ(0);
  --_color-active: var(--primary);
  --_bg-active: transparent;
  --_border-color-active: transparent;
  --_transform-active: initial;
  --_icon-size: 1rem;
  --_icon-color: currentColor;
  width: var(--_width);
  height: var(--_height);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--_fs);
  font-weight: var(--_fw);
  line-height: var(--_lh);
  letter-spacing: var(--_ls);
  color: var(--_color);
  cursor: pointer;
  background-color: var(--_bg);
  border: var(--_border-width) var(--_border-style) var(--_border-color);
  border-radius: var(--_rounded);
  padding: var(--_padding);
  pointer-events: auto;
  outline: none;
  text-align: start;
  -webkit-transform: var(--_transform);
  -ms-transform: var(--_transform);
  transform: var(--_transform);
  -webkit-transition-property: color, text-shadow, background, border, opacity, -webkit-transform;
  transition-property: color, text-shadow, background, border, opacity, -webkit-transform;
  transition-property: color, text-shadow, background, border, transform, opacity;
  transition-property: color, text-shadow, background, border, transform, opacity, -webkit-transform;
  -webkit-transition-duration: var(--_transition-duration);
  transition-duration: var(--_transition-duration);
  -webkit-transition-timing-function: var(--_transition-timing-function);
  transition-timing-function: var(--_transition-timing-function);
}
@media (hover: hover) {
  .btn:is(:hover, :focus-visible) {
    color: var(--_color-hover);
    background-color: var(--_bg-hover);
    border-color: var(--_border-color-hover);
    -webkit-transform: var(--_transform-hover);
    -ms-transform: var(--_transform-hover);
    transform: var(--_transform-hover);
  }
}
.btn:is(:active, .is-active) {
  color: var(--_color-active);
  background-color: var(--_bg-active);
  border-color: var(--_border-color-active);
  -webkit-transform: var(--_transform-active);
  -ms-transform: var(--_transform-active);
  transform: var(--_transform-active);
}
.btn .icon {
  --_size: var(--_icon-size);
  --_color: var(--_icon-color);
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check:checked + .btn {
  --_color: var(--primary);
  --_color-hover: var(--primary);
  --_color-active: var(--primary);
}

.btn-inline {
  --_color: inherit;
}

.btn-inherit {
  --_fs: inherit;
  --_fw: inherit;
  --_lh: inherit;
  --_ls: inherit;
  --_color: inherit;
  display: inline;
  text-transform: initial;
}

.btn-icon {
  --_width: 2rem;
  --_height: 2rem;
  --_rounded: 50%;
  --_padding: .625rem;
  --_icon-size: 100%;
  position: relative;
}
@media (min-width: 991.98px) {
  .btn-icon {
    --_width: 2.5rem;
    --_height: 2.5rem;
    --_padding: .75rem;
  }
}
.btn-icon .badge {
  position: absolute;
  top: 0;
  right: -0.25rem;
}
.btn-icon.btn-sm {
  --_width: 2rem;
  --_height: 2rem;
  --_padding: .625rem;
}
@media (min-width: 991.98px) {
  .btn-icon.btn-lg {
    --_width: 3rem;
    --_height: 3rem;
    --_padding: 1rem;
  }
}
.btn-icon.btn-menu {
  --_padding: .5rem;
}
@media (min-width: 991.98px) {
  .btn-icon.btn-menu {
    --_padding: .625rem ;
  }
}

.btn-location {
  --_icon-size: 1.25rem;
}
.btn-location .icon:not(.btn-location-dropdown) {
  --_color: var(--primary);
}
.btn-location-dropdown.icon {
  --_size: .75rem;
}

.btn-primary {
  --_color: var(--light);
  --_bg: var(--primary);
  --_color-hover: var(--light);
  --_bg-hover: var(--text-color);
  --_color-active: var(--light);
  --_bg-active: var(--text-color);
}

.btn-secondary {
  --_color: var(--light);
  --_bg: var(--text-color);
  --_color-hover: var(--light);
  --_bg-hover: var(--primary);
  --_color-active: var(--light);
  --_bg-active: var(--primary);
}

.btn-light {
  --_bg: var(--light);
  --_bg-hover: var(--light);
  --_bg-active: var(--light);
}

.btn-gray-200 {
  --_bg: var(--gray-200);
  --_bg-hover: var(--gray-200);
  --_bg-active: var(--gray-200);
}

.btn-base:not(.btn-icon) {
  --_height: 2.25rem;
  --_fs: .875rem;
  --_rounded: .375rem;
  --_padding: .25rem 1rem;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-lg:not(.btn-icon) {
  --_height: 2.25rem;
  --_rounded: .375rem;
  --_padding: .25rem 1.25rem;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 991.98px) {
  .btn-lg:not(.btn-icon) {
    --_height: 3rem;
    --_fs: var(--fs-base);
    --_padding: .25rem 1.5rem;
  }
}

.form-control-requireds,
.form-fieldset-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.75rem 1rem;
  color: var(--gray-300);
}
.form-control-requireds .form-check,
.form-fieldset-header .form-check {
  color: inherit;
}
.form-control-requireds .form-check-input:checked,
.form-fieldset-header .form-check-input:checked {
  --bs-form-check-bg-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Ccircle cx="10" cy="10" r="8" stroke="none" fill="%23b3b3b3" /%3E%3C/svg%3E') ;
}
.form-control-requireds:not(:first-child),
.form-fieldset-header:not(:first-child) {
  margin-top: 1.5rem;
}
.form-control-requireds:not(:last-child),
.form-fieldset-header:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-control-requireds .required {
  color: inherit;
  margin-bottom: 0;
}

.form-fieldset-header {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-fieldset-header-title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: normal;
  color: inherit;
}

.field-control,
.fieldset {
  position: relative;
}

.field-control + .field-control,
.field-control + .btn-submit {
  margin-top: 1.5rem;
}

.field {
  --_width: 100%;
  --_height: 2.5rem;
  --_fs: var(--fs-base);
  --_fw: var(--fw-base);
  --_lh: var(--lh-base);
  --_ls: var(--ls-base);
  --_color: var(--gray-300);
  --_bg: transparent;
  --_border-width: 1px;
  --_border-solid: solid;
  --_border-color: currentColor;
  --_rounded: 1.5rem;
  --_padding: .625rem 1rem;
  --_color-hover: var(--gray-800);
  --_bg-hover: transparent;
  --_border-color-hover: currentColor;
  --_color-active: var(--gray-800);
  --_bg-active: transparent;
  --_border-color-active: currentColor;
  width: var(--_width);
  min-height: var(--_height);
  display: block;
  font-size: var(--_fs);
  font-weight: var(--_fw);
  line-height: var(--_lh);
  letter-spacing: var(--_ls, normal);
  color: var(--_color);
  background-color: var(--_bg);
  border: var(--_border-width) var(--_border-solid) var(--_border-color);
  border-radius: var(--_rounded);
  padding: var(--_padding);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition-property: color, background, border;
  transition-property: color, background, border;
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
  transition-timing-function: var(--transition-timing-function);
}
@media (min-width: 992px) {
  .field {
    --_height: 3.125rem;
    --_padding: .78125rem 1rem;
  }
}
.field::-webkit-input-placeholder {
  font: inherit;
  color: currentColor;
}
.field::-moz-placeholder {
  font: inherit;
  color: currentColor;
}
.field:-ms-input-placeholder {
  font: inherit;
  color: currentColor;
}
.field::-ms-input-placeholder {
  font: inherit;
  color: currentColor;
}
.field::placeholder {
  font: inherit;
  color: currentColor;
}
.field:focus-visible {
  color: var(--_color-active);
  background-color: var(--_bg-active);
  border-color: var(--_border-color-active);
}

textarea {
  height: 7.5rem;
  resize: none;
}
@media (min-width: 992px) {
  textarea {
    height: 10rem;
  }
}

.required {
  font-size: 0.625rem;
  color: var(--gray-300);
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  margin-bottom: 0.5rem;
  text-align: end;
}
@media (min-width: 992px) {
  .required {
    font-size: 0.75rem;
  }
}

.btn-submit {
  --_width: 100%;
}
.btn-submit:not(:first-child) {
  margin-top: 1.5rem;
}

.field-controls + .field-controls {
  margin-top: 1.5rem;
}

[data-has-fields] {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}
[data-has-fields] .field-control {
  margin: 0;
}
@media (min-width: 992px) {
  [data-has-fields] [data-columns-field="2"] {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (min-width: 992px) {
  [data-has-fields="2"] {
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  [data-has-fields="3"] {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.form-check {
  --bs-form-check-bg: transparent;
  font-size: 0.625rem;
  color: var(--gray);
}
@media (min-width: 992px) {
  .form-check {
    font-size: 0.75rem;
  }
}
.form-check:not(:first-child) {
  margin-top: 1.5rem;
}
.form-check-label, .form-check-input {
  cursor: pointer;
}
.form-check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1em;
}
.form-check-input {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.25em;
  height: 1.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.5em;
  border: 1px solid currentColor;
  border-radius: 50%;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
@media (min-width: 992px) {
  .form-check-input {
    width: 1em;
    height: 1em;
  }
}
.form-check-input:checked {
  --bs-form-check-bg-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Ccircle cx="10" cy="10" r="8" stroke="none" fill="%23808080" /%3E%3C/svg%3E');
}

.badge {
  --_badge-size: .875rem;
  --_badge-color: var(--text-color);
  --_badge-bg: transparent;
  min-width: var(--_badge-size);
  height: var(--_badge-size);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: normal;
  color: var(--_badge-color);
  background-color: var(--_badge-bg);
  border-radius: var(--_badge-size);
  padding: 0 0.25rem;
}
.badge:empty {
  display: none;
}

.badge-primary {
  --_badge-color: var(--light);
  --_badge-bg: var(--primary);
}

.location {
  font-family: var(--font-second);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.location .btn {
  --_fs: 1rem;
  --_fw: 600;
  text-transform: uppercase;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.socials .btn-icon.btn-sm {
  --_padding: .5rem ;
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: var(--text-color-50);
  line-height: 1;
}
.callback .btn {
  --_fs: .875rem;
}

.logo .image {
  height: 1.75rem;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (min-width: 991.98px) {
  .logo .image {
    height: 2rem;
  }
}

.header {
  background-color: var(--light);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1040;
}
.header-top {
  gap: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-block: 0.75rem;
  position: relative;
}
@media (min-width: 991.98px) {
  .header-top {
    padding-block: 1.25rem;
  }
}
@media (min-width: 991.98px) {
  .header-top .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.header-top, .header-top-start, .header-top-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-top-start {
  gap: 0.5rem;
}
@media (min-width: 991.98px) {
  .header-top-start {
    gap: 1rem;
  }
}
.header-top-start li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-top-start li:empty {
  display: none;
}
.header-top-end {
  gap: 0.5rem;
}
.header-bottom {
  display: none;
}
@media (min-width: 991.98px) {
  .header-bottom {
    display: block;
    border-top: 1px solid var(--border-color);
    padding-block: 2rem;
  }
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.5rem;
}
@media (min-width: 991.98px) {
  .header .btn-menu {
    display: none;
  }
}

.menu {
  --menu-padding-y: 1.25rem;
  --menu-padding-x: 1rem;
  overflow: hidden;
}
@media (min-width: 1199.98px) {
  .menu {
    --menu-padding-y: 1.5rem;
    --menu-padding-x: 1.25rem;
  }
}
.menu > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}
@media (min-width: 991.98px) {
  .menu > .container {
    height: 20rem;
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 10rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 10rem;
  }
}
@media (min-width: 1199.98px) {
  .menu > .container {
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 11.25rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 11.25rem;
  }
}
@media (max-width: 992px) {
  .menu > .container {
    --container-offset: 0rem;
  }
}
.menu-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 992px) {
  .menu-col {
    grid-column: -1/1;
    grid-row: -1/1;
    background-color: #fff;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    -webkit-transition-timing-function: var(--transition-timing-function);
    transition-timing-function: var(--transition-timing-function);
  }
}
.menu-col:not(:first-child, :last-child) {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}
@media (min-width: 991.98px) {
  .menu-col:not(:first-child, :last-child) {
    -webkit-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}
@media (min-width: 991.98px) {
  .menu-col:not(:first-child, :last-child) ul {
    padding-left: var(--menu-padding-x);
  }
}
.menu-col:not(:first-child) ul {
  display: none;
}
@media (min-width: 991.98px) {
  .menu-col:not(:last-child) ul {
    padding-right: var(--menu-padding-x);
  }
}
@media (max-width: 992px) {
  .menu-col:last-child {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .menu-col:last-child .image {
    width: 100%;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
    margin-block: var(--menu-padding-y);
    border-radius: 0.25rem;
  }
}
.menu-col.is-show {
  -webkit-transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  transform: translateX(0rem);
  opacity: 1;
}
@media (min-width: 991.98px) {
  .menu-col.is-show {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    -webkit-transition-timing-function: var(--transition-timing-function);
    transition-timing-function: var(--transition-timing-function);
  }
}
@media (min-width: 991.98px) {
  .menu-col.is-show:not(:first-child, :last-child) ul {
    border-left: 1px solid var(--border-color);
  }
}
.menu-col ul {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 991.98px) {
  .menu-col ul {
    gap: 0.5rem;
    padding: var(--menu-padding-y) 0;
  }
}
.menu-col ul.is-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-col ul,
.menu-col ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-col ul li .btn {
  --_fs: .875rem;
  --_icon-size: .75rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 991.98px) {
  .menu-col ul li .btn {
    --_icon-size: .625rem;
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    display: inline-block;
    font-family: var(--font-third);
  }
}
@media (max-width: 992px) {
  .menu-col ul li .btn .text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.menu-col ul li .btn-close {
  --_fs: var(--fs-base);
  --_fw: 500;
  --_padding: 0 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: var(--font-second);
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.menu-col ul li .btn-close .icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu-col ul li .btn-close .text {
  -webkit-box-flex: initial;
  -ms-flex: initial;
  flex: initial;
}
@media (min-width: 991.98px) {
  .menu-col ul li:not(:first-child) .btn .icon {
    position: absolute;
    -webkit-transform: translate(0.25em, 0.25rem);
    -ms-transform: translate(0.25em, 0.25rem);
    transform: translate(0.25em, 0.25rem);
  }
}
.menu-col ul li:first-child {
  margin-bottom: 0.5rem;
}
@media (min-width: 991.98px) {
  .menu-col ul li:first-child {
    display: none;
  }
}

.floating-bottom {
  padding-block: 1.25rem;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
.floating-bottom > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.floating-bottom .btn-gray-200 {
  --_color: var(--light);
  --_bg: var(--text-color);
  --_bg-hover: var(--text-color);
  --_bg-active: var(--text-color);
}

.dropup,
.dropend,
.dropdown,
.dropstart,
.dropup-center,
.dropdown-center {
  position: relative;
}

.dropdown-toggle {
  --_icon-size: .625rem;
  gap: 0.25rem;
  white-space: nowrap;
}
.dropdown-toggle[aria-expanded=true] .icon {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.dropdown-menu {
  --bs-dropdown-zindex: 1040;
  --bs-dropdown-min-width: 18rem;
  --bs-dropdown-padding-x: .75rem;
  --bs-dropdown-padding-y: .75rem;
  --bs-dropdown-spacer: 0rem;
  --bs-dropdown-font-size: var(--fs-base);
  --bs-dropdown-color: inherit;
  --bs-dropdown-bg: var(--light);
  --bs-dropdown-border-color: transparent;
  --bs-dropdown-border-radius: 1.25rem;
  --bs-dropdown-border-width: 0rem;
  --bs-dropdown-box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.15);
  --bs-dropdown-item-border-radius: .75rem;
  --bs-dropdown-link-color: var(--text-color);
  --bs-dropdown-link-hover-color: var(--primary);
  --bs-dropdown-link-hover-bg: var(--gray-color-250);
  --bs-dropdown-link-active-color: var(--primary);
  --bs-dropdown-link-active-bg: var(--gray-color-250);
  --bs-dropdown-link-disabled-color: var(--gray);
  --bs-dropdown-item-padding-x: .75rem;
  --bs-dropdown-item-padding-y: .5rem;
  --bs-dropdown-header-color: var(--dark-color);
  --bs-dropdown-header-padding-x: .75rem;
  --bs-dropdown-header-padding-y: .5rem;
  min-width: var(--bs-dropdown-min-width);
  display: none;
  font-size: var(--bs-dropdown-font-size);
  line-height: 1.5;
  color: var(--bs-dropdown-color);
  text-align: start;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  margin: 0;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  -webkit-box-shadow: var(--bs-dropdown-box-shadow);
  box-shadow: var(--bs-dropdown-box-shadow);
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: var(--bs-dropdown-spacer);
}
.dropdown-menu .vanilla-calendar, .dropdown-menu .vanilla-calendar-controls {
  padding: 0;
}
.dropdown-menu .vanilla-calendar-controls {
  padding-top: 0.25rem;
}
@media (min-width: 767.98px) {
  .dropdown-menu .vanilla-calendar {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}

.dropdown-menu-end {
  --bs-position: end;
}

.dropup .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: var(--bs-dropdown-spacer);
}

.dropend .dropdown-menu[data-bs-popper] {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: var(--bs-dropdown-spacer);
}

.dropstart .dropdown-menu[data-bs-popper] {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: var(--bs-dropdown-spacer);
}

.dropdown-item {
  --_width: 100%;
  --_fw: 500;
  --_lh: inherit;
  --_color: var(--bs-dropdown-link-color);
  --_bg: transparent;
  --_border-width: 0;
  --_rounded: var(--bs-dropdown-item-border-radius, 0);
  --_padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  --_color-hover: var(--bs-dropdown-link-hover-color);
  --_bg-hover: var(--bs-dropdown-link-hover-bg);
  --_color-active: var(--bs-dropdown-link-active-color);
  --_bg-active: var(--bs-dropdown-link-active-bg);
  --_color-disabled: var(--bs-dropdown-link-disabled-color);
  --_bg-disabled: transparent;
  -webkit-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  text-align: inherit;
  white-space: nowrap;
}
.dropdown-item--remove {
  --_color: #E61414;
  --_color-hover: #E61414;
  --_color-active: #E61414;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: var(--bs-dropdown-header-padding-y) var(--bs-dropdown-header-padding-x);
  margin-bottom: 0;
  color: var(--bs-dropdown-header-color);
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  color: var(--bs-dropdown-link-color);
}

.dropdown--menu {
  position: static;
}
.dropdown--menu .dropdown-toggle {
  --_fw: 700;
}
.dropdown--menu .dropdown-toggle .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .dropdown--menu .dropdown-toggle .icons .icon:first-child {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .dropdown--menu .dropdown-toggle .icons .icon:last-child {
    display: none;
  }
}
.dropdown--menu .dropdown-menu {
  --bs-dropdown-min-width: 100%;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-box-shadow: unset;
}

.offcanvas {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 25rem;
  --bs-offcanvas-height: 100%;
  --bs-offcanvas-padding: 1.5rem 0;
  --bs-offcanvas-color: inherit;
  --bs-offcanvas-bg: var(--light);
  --bs-offcanvas-border-width: 0;
  --bs-offcanvas-border-color: transparent;
  --bs-offcanvas-box-shadow: 0px 0.3px 0px 0px rgba(0, 0, 0, 0.01), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  --bs-offcanvas-transition: transform var(--transition-duration) var(--transition-timing-function);
  --bs-offcanvas-title-line-height: var(--lh-base);
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: var(--bs-offcanvas-width);
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  padding-inline: var(--container-offset);
  -webkit-box-shadow: var(--bs-offcanvas-box-shadow);
  box-shadow: var(--bs-offcanvas-box-shadow);
  outline: 0;
  -webkit-transition: var(--bs-offcanvas-transition);
  transition: var(--bs-offcanvas-transition);
}
.offcanvas.offcanvas-start {
  top: 0;
  left: 0;
  border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.offcanvas.offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: var(--bs-offcanvas-height);
  max-height: 100%;
  border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.offcanvas.offcanvas-bottom {
  right: 0;
  left: 0;
  height: var(--bs-offcanvas-height);
  max-height: 100%;
  border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.offcanvas.showing, .offcanvas.show:not(.hiding) {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.offcanvas.showing, .offcanvas.hiding, .offcanvas.show {
  visibility: visible;
}

.offcanvas-backdrop {
  display: block;
  background-color: var(--backdrop);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 1040;
}

.offcanvas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--bs-offcanvas-padding);
}
.offcanvas-header .btn-close {
  margin-left: auto;
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: var(--bs-offcanvas-title-line-height);
}

.offcanvas-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-block: 1px solid var(--border-color);
  padding: var(--bs-offcanvas-padding);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.offcanvas-body .header-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 1rem;
}
.offcanvas-body .header-nav .dropdown--menu .dropdown-toggle {
  --_icon-size: .75rem;
  width: 100%;
}
.offcanvas-body .header-nav .dropdown--menu .dropdown-menu {
  display: block;
  padding: var(--bs-offcanvas-padding);
  padding-top: 1.5rem;
  opacity: 0;
  inset: 0 !important;
  position: absolute !important;
  -webkit-transform: translateX(100%) !important;
  -ms-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
  transition-timing-function: var(--transition-timing-function);
}
.offcanvas-body .header-nav .dropdown--menu .dropdown-menu.show {
  opacity: 1;
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}
.offcanvas-body .header-nav .dropdown--menu .dropdown-toggle,
.offcanvas-body .header-nav > .btn {
  --_fw: 500;
  font-family: var(--font-second);
  text-transform: uppercase;
}
.offcanvas-body .header-nav .dropdown--menu .dropdown-toggle .text,
.offcanvas-body .header-nav > .btn .text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.offcanvas-body .menu-col ul {
  padding-bottom: 1.5rem;
}

.offcanvas-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  padding: var(--bs-offcanvas-padding);
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 28rem;
  --bs-modal-padding: 2.5rem var(--container-offset);
  --bs-modal-margin: var(--container-offset);
  --bs-modal-color: var(--text-color);
  --bs-modal-bg: var(--body-bg);
  --bs-modal-border-color: transparent;
  --bs-modal-border-width: 0;
  --bs-modal-border-radius: .375rem;
  --bs-modal-box-shadow: 0px 0.3px 0px 0px rgba(0, 0, 0, 0.01), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  --bs-modal-inner-border-radius: 0;
  --bs-modal-header-padding-x: 0;
  --bs-modal-header-padding-y: 0;
  --bs-modal-header-padding: var(--bs-modal-padding);
  --bs-modal-header-border-color: var(--border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: normal;
  --bs-modal-footer-gap: 0;
  --bs-modal-footer-bg: transparent;
  --bs-modal-footer-border-color: transparent;
  --bs-modal-footer-border-width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
@media (min-width: 575.98px) {
  .modal {
    --bs-modal-margin: 2rem;
    --bs-modal-padding: 2.5rem;
  }
}
.modal .btn-close {
  -webkit-box-shadow: var(--bs-modal-box-shadow);
  box-shadow: var(--bs-modal-box-shadow);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}
@media (min-width: 575.98px) {
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
}
.modal.fade .modal-dialog {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
  transition-timing-function: var(--transition-timing-function);
  -webkit-transform: translate(0, -3rem);
  -ms-transform: translate(0, -3rem);
  transform: translate(0, -3rem);
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  padding: var(--bs-modal-padding);
  -webkit-box-shadow: var(--bs-modal-box-shadow);
  box-shadow: var(--bs-modal-box-shadow);
  outline: 0;
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: var(--backdrop);
  --bs-backdrop-opacity: 1;
  display: block;
  background-color: var(--bs-backdrop-bg);
  opacity: var(--bs-backdrop-opacity);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: var(--bs-backdrop-zindex);
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-title {
  font-family: var(--font-second);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: var(--bs-modal-title-line-height);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.modal-footer .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

.modal-alert .modal-body {
  font-size: 0.75rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */
