@if (slide === true) {
  <div class="swiper-slide">
}
  <article class="articles-card">
    @if (!button) {
      <a href="./blog-page.html" class="stretched-link"></a>
    }

    <picture class="articles-card-picture">
      <source srcset="./img/articles/@img.webp" type="image/webp">
      <img loading="lazy" src="./img/articles/@img.jpg" class="articles-card-image" width="400" height="200" alt="Фото">
    </picture>

    <div class="articles-card-body">
      <h3 class="articles-card-title">
        @title
      </h3>

      <p class="articles-card-description">
        @description
      </p>

      @if (time) {
        <time datetime="" class="articles-card-time">
          02.10.2024
        </time>
      }
    </div>

    @if (button) {
      <div class="articles-card-footer">
        <a href="#offcanvas-event" class="btn btn-base btn-outline-secondary stretched-link"
          data-bs-toggle="offcanvas">
          <span>Записаться</span>
        </a>
      </div>
    }
  </article>
@if (slide === true) {
  </div>
}
