@if (slide === true) {
  <div class="swiper-slide">
}
  <article class="card">
    <a href="#" class="stretched-link"></a>

    <div class="card-header">
      <label class="label-check">
        <input type="checkbox" class="btn-check">
        <button type="button" class="btn">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/heart.svg#svg-heart"></use>
            </svg>
          </span>
        </button>
      </label>

      <a href="#" class="swiper swiper-card-pictures">
        <div class="swiper-wrapper">
          @loop('swiper-card-pictures.html', [
            { "image": "image-1" },
            { "image": "image-2" },
            { "image": "image-4" },
            { "image": "image-3" },
          ])
        </div>

        <div class="swiper-navigation">
          <div class="swiper-pagination"></div>
        </div>
      </a>
    </div>
    <div class="card-body">
      <div class="card-body-header">
        <h3 class="card-title">
          @title
        </h3>

        <p class="card-price">
          @price
        </p>
      </div>
      <div class="card-body-main">
        <p class="card-description">
          @description
        </p>
      </div>
    </div>
    <div class="card-buttons">
      <button type="button" class="btn btn-base btn-outline-secondary card-add">
        В корзину
      </button>
    </div>
  </article>
@if (slide === true) {
  </div>
}
