<header class="header">
  <div class="container">
    <div class="header-top">
      <ul class="list-reset header-top-start">
        <li><button type="button" class="btn btn-location"
            data-bs-toggle="modal"
            data-bs-target="#modalLocation"
            data-transfer-origin="offcanvas-menu-header"
            data-transfer-breakpoint="991.98"
            data-transfer-placement="first">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/location.svg#svg-location"></use>
              </svg>
            </span>
            <span class="text">
              Самара
            </span>
            <span class="icon btn-location-dropdown">
              <svg>
                <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
              </svg>
            </span>
          </button></li>

        <li>
          <button type="button" class="btn btn-icon btn-gray-200">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/search.svg#svg-search"></use>
              </svg>
            </span>
          </button>
        </li>

        <li
          data-transfer-target="header-top-start"></li>
      </ul>

      <a href="#" class="btn logo">
        <img loading="lazy" src="./img/logo.svg" class="image" width="200" height="32" alt="Логотип">
      </a>

      <div class="header-top-end">
        <button type="button" class="btn btn-icon btn-gray-200"
          data-transfer-origin="header-top-start"
          data-transfer-breakpoint="991.98">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/user.svg#svg-user"></use>
            </svg>
          </span>
        </button>
        <button type="button" class="btn btn-icon btn-gray-200">
          <span class="badge badge-primary"></span>
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/heart.svg#svg-heart"></use>
            </svg>
          </span>
        </button>
        <button type="button" class="btn btn-icon btn-gray-200"
          data-transfer-origin="floating-bottom"
          data-transfer-breakpoint="991.98">
          <span class="badge badge-primary">2</span>
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/bag.svg#svg-bag"></use>
            </svg>
          </span>
        </button>

        <button type="button" class="btn btn-icon btn-gray-200 btn-menu"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvas-menu"
          aria-controls="offcanvas-menu">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/menu.svg#svg-menu"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>

    <div class="header-bottom">
      <nav class="header-nav"
        data-transfer-origin="offcanvas-menu-body"
        data-transfer-breakpoint="991.98">
        <div class="dropdown dropdown--menu">
          <button type="button" class="btn dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-offset="0,32"
            data-bs-auto-close="outside"
            aria-expanded="false">
            <span class="text">
              Каталог
            </span>
            <span class="icons">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/dropdown.svg#svg-dropdown"></use>
                </svg>
              </span>
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/arrow-right.svg#svg-arrow-right"></use>
                </svg>
              </span>
            </span>
          </button>
          <div class="dropdown-menu">
            <ul data-create-menu="">
              <li>
                <button type="button"
                  data-create-menu-img="./img/menu/image-284.jpg">
                  Секс игрушки
                </button>

                <ul>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для женщин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Фаллоимитаторы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Реалистичные
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Нереалистичные
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Двусторонние
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Большие размеры
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вибраторы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вакуумно-волновые стимуляторы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вагинальные шарики
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Игрушки с электростимуляцией
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вакуумные помпы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Стимуляция груди
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Секс-машины
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для мужчин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Фаллоимитаторы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Реалистичные
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Нереалистичные
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Двусторонние
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Большие размеры
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вибраторы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вакуумно-волновые стимуляторы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вагинальные шарики
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Игрушки с электростимуляцией
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Вакуумные помпы
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Стимуляция груди
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Секс-машины
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-1
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт 1-1-2-2
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <button type="button"
                  data-create-menu-img="./img/menu/image-284.jpg">
                  Косметика и гигиена
                </button>

                <ul>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для женщин
                    </button>

                    <ul>
                      <li>
                        <a href="#"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Ссылка
                        </a>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для мужчин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <button type="button"
                  data-create-menu-img="./img/menu/image-284.jpg">
                  Белье
                </button>

                <ul>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для женщин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для мужчин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <button type="button"
                  data-create-menu-img="./img/menu/image-284.jpg">
                  Презервативы и бады
                </button>

                <ul>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для женщин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для мужчин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Подпункт
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <button type="button"
                  data-create-menu-img="./img/menu/image-284.jpg">
                  БДСМ
                </button>

                <ul>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для женщин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для мужчин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <button type="button"
                  data-create-menu-img="./img/menu/image-284.jpg">
                  Приятные мелочи и сувениры
                </button>

                <ul>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для женщин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <button type="button"
                      data-create-menu-img="./img/menu/image-284.jpg">
                      Для мужчин
                    </button>

                    <ul>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button type="button"
                          data-create-menu-img="./img/menu/image-284.jpg">
                          Подпункт
                        </button>

                        <ul>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                          <li>
                            <a href="#"
                              data-create-menu-img="./img/menu/image-284.jpg">
                              Ссылка
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <a href="#" class="btn hover-underline">
          <span class="text">
            Доставка и оплата
          </span>
        </a>
        <a href="#" class="btn hover-underline">
          <span class="text">
            Программа лояльности
          </span>
        </a>
        <a href="#" class="btn hover-underline">
          <span class="text">
            Подарочные карты
          </span>
        </a>
        <a href="#" class="btn hover-underline">
          <span class="text">
            Магазины
          </span>
        </a>
      </nav>
    </div>
  </div>
</header>
