<section class="section mailing-list">
  <div class="container">
    <div class="mailing-list-body">
      <h2 class="mailing-list-title">
        Подпишитесь на рассылку и будьте в курсе всех наших акций и скидок!
      </h2>
      <form class="mailing-list-form">
        <div class="fieldset">
          <div class="field-control">
            <div class="field-wrapper">
              <input type="email" class="field" name="email" placeholder="E-mail" required>
              <button type="submit" class="btn field-button">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/swiper-arrow-next.svg#svg-swiper-arrow-next"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
