<div role="dialog" class="modal modal-alert fade" tabindex="-1"
  id="modalAgeRestriction"
  data-bs-backdrop="static"
  aria-labelledby="modalAgeRestrictionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"
          id="modalAgeRestrictionLabel">
          НА САЙТЕ
          <br>
          ПРИСУТСТВУЮТ
          <span class="text-primary">
            МАТЕРИАЛЫ
            <br>
            ДЛЯ ВЗРОСЛЫХ
          </span>
        </h3>
      </div>
      <div class="modal-body">
        <p>
          Вам есть 18 лет?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-base btn-primary"
          data-success=""
          data-bs-dismiss="modal">
          Да, мне есть 18 лет
        </button>
        <button type="button" class="btn btn-base btn-secondary">
          Мне еще нет 18 лет
        </button>
      </div>
    </div>
  </div>
</div>

<div role="dialog" class="modal modal-location fade" tabindex="-1"
  id="modalLocation"
  aria-labelledby="modalLocationLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"
          id="modalLocationLabel">
          Выберите свой город
        </h3>

        <button type="button" class="btn btn-light btn-icon btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="location">
          <button type="button" class="btn is-active">
            Тольятти
          </button>
          <button type="button" class="btn">
            Самара
          </button>
          <button type="button" class="btn">
            Коломна
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div role="dialog" class="modal modal-stories fade" tabindex="-1"
  id="modalStories"
  aria-labelledby="modalStoriesLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-volume">
          <span class="icon-container">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/volume-off.svg#svg-volume-off"></use>
              </svg>
            </span>
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/volume.svg#svg-volume"></use>
              </svg>
            </span>
          </span>

          <span class="text">
            <span>Выключено</span>
            <span>Включено</span>
          </span>
        </button>

        <button type="button" class="btn btn-light btn-icon btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="swiper swiper-stories">
          <div class="swiper-wrapper">
            @loop('stories.html', [
              { "id": "stories-1" },
              { "id": "stories-2" },
              { "id": "stories-3" },
              { "id": "stories-4" },
              { "id": "stories-5" },
              { "id": "stories-6" },
              { "id": "stories-7" },
              { "id": "stories-8" },
              { "id": "stories-9" },
              { "id": "stories-10" },
            ])
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
