<div class="offcanvas offcanvas-end" tabindex="-1"
  id="offcanvas-menu">
  <div class="offcanvas-header"
    data-transfer-target="offcanvas-menu-header">
    <button type="button" class="btn btn-close btn-icon btn-gray-200"
      data-bs-dismiss="offcanvas"
      aria-label="Close">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/close.svg#svg-close"></use>
        </svg>
      </span>
    </button>
  </div>
  <div class="offcanvas-body"
    data-transfer-target="offcanvas-menu-body"></div>
  <div class="offcanvas-footer">
    <div class="callback">
      <p>
        Есть вопросы?
      </p>

      <a href="tel:+78463004449" class="btn">
        +7 (846) 300-44-49
      </a>
    </div>

    @include('socials.html')
  </div>
</div>
