<div class="rating @if (readonly) {rating--readonly}">
  <div class="rating-stars">
    <input type="radio" id="@id-5" class="visually-hidden" value="5" name="@id">
    <label title="text" for="@id-5">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
    </label>
    <input type="radio" id="@id-4" class="visually-hidden" value="4" name="@id">
    <label title="text" for="@id-4">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
    </label>
    <input type="radio" id="@id-3" class="visually-hidden" value="3" name="@id" checked="">
    <label title="text" for="@id-3">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
    </label>
    <input type="radio" id="@id-2" class="visually-hidden" value="2" name="@id">
    <label title="text" for="@id-2">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
    </label>
    <input type="radio" id="@id-1" class="visually-hidden" value="1" name="@id">
    <label title="text" for="@id-1">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
    </label>
  </div>
  @if (value) {
    <div class="rating-value">
      <p>
        @value
      </p>
    </div>
  }
</div>
