<div class="socials">
  <a href="#" class="btn btn-sm btn-icon btn-primary"
    target="_blank">
    <span class="icon">
      <svg>
        <use xlink:href="img/icons/vk.svg#svg-vk"></use>
      </svg>
    </span>
  </a>
  <a href="#" class="btn btn-sm btn-icon btn-primary"
    target="_blank">
    <span class="icon">
      <svg>
        <use xlink:href="img/icons/dzen.svg#svg-dzen"></use>
      </svg>
    </span>
  </a>
  <a href="#" class="btn btn-sm btn-icon btn-primary"
    target="_blank">
    <span class="icon">
      <svg>
        <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
      </svg>
    </span>
  </a>
</div>
