<div class="swiper-slide">
  <button type="button" class="btn new-arrivals-card"
    data-bs-toggle="modal"
    data-bs-target="#modalStories"
    data-stories-index="@id">
    <div class="new-arrivals-card-picture">
      <picture>
        <source srcset="./img/new-arrivals/image-1.webp" type="image/webp">
        <img loading="lazy" src="./img/new-arrivals/image-1.png" class="image" width="60" height="60" alt="Фото">
      </picture>
    </div>
    <div class="new-arrivals-card-content">
      <h3 class="new-arrivals-card-title">
        новинки
      </h3>
    </div>
  </button>
</div>
