<div class="swiper-slide" data-history="@id">
  <article class="stories">
    <div class="swiper-pagination"></div>
    <button type="button" class="btn swiper-button-prev"></button>
    <button type="button" class="btn swiper-button-next"></button>

    <div class="stories-header">
      <picture class="stories-header-picture">
        <source srcset="./img/new-arrivals/image-1.webp" type="image/webp">
        <img loading="lazy" src="./img/new-arrivals/image-1.png" class="image" width="32" height="32" alt="Картинка">
      </picture>
      <div class="stories-header-name">
        Новинка
      </div>
    </div>
    <div class="stories-body">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <video src="https://www.w3schools.com/html/mov_bbb.mp4"
              muted
              playsinline></video>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/card/image-1.webp" type="image/webp">
              <img loading="lazy" src="./img/card/image-1.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
