<section class="section section-border-transparent subscribe">
  <div class="container">
    <div class="subscribe-header">
      <picture>
        <source srcset="./img/subscribe/image-1.webp" type="image/webp">
        <img loading="lazy" src="./img/subscribe/image-1.jpg" class="image" width="200" height="258" alt="Фото">
      </picture>
      <picture>
        <source srcset="./img/subscribe/image-2.webp" type="image/webp">
        <img loading="lazy" src="./img/subscribe/image-2.jpg" class="image" width="224" height="224" alt="Фото">
      </picture>
      <picture>
        <source srcset="./img/subscribe/image-3.webp" type="image/webp">
        <img loading="lazy" src="./img/subscribe/image-3.jpg" class="image" width="200" height="200" alt="Фото">
      </picture>
    </div>
    <div class="subscribe-body">
      <h2>
        Подписывайтесь
        <br>
        <span class="text-primary">
          @bunnyloveru
        </span>
      </h2>
      @include('socials.html')
    </div>
    <div class="subscribe-footer">
      <picture>
        <source srcset="./img/subscribe/image-4.webp" type="image/webp">
        <img loading="lazy" src="./img/subscribe/image-4.jpg" class="image" width="224" height="224" alt="Фото">
      </picture>
      <picture>
        <source srcset="./img/subscribe/image-5.webp" type="image/webp">
        <img loading="lazy" src="./img/subscribe/image-5.jpg" class="image" width="140" height="140" alt="Фото">
      </picture>
      <picture>
        <source srcset="./img/subscribe/image-6.webp" type="image/webp">
        <img loading="lazy" src="./img/subscribe/image-6.jpg" class="image" width="200" height="200" alt="Фото">
      </picture>
    </div>
  </div>
</section>
