<!DOCTYPE html>
<html lang="ru" class="page">

@include('partials/head.html', {title: 'Главная страница'})

<body class="page-body">
  @include('partials/h1.html', {title: 'Главная страница'})

  <div class="site-container">
    @include('partials/header.html')

    <main class="main">
      <div class="main-sections">
        <section class="section hero">
          <div class="swiper-relative hero-swiper">
            <div class="swiper">
              <div class="swiper-wrapper">
                @for (var i = 0; i < 3; i++) {
                  <div class="swiper-slide">
                    <span class="hero-backgrounds">
                      <span class="hero-backgrounds-desktop"
                        style="background-image: url(./img/hero/bg-desktop.webp);"></span>
                      <span class="hero-backgrounds-mobile"
                        style="background-image: url(./img/hero/bg-mobile.webp);"></span>
                    </span>

                    <div class="container hero-container">
                      <div class="hero-content">
                        <h2>
                          Ухаживающий <span class="text-primary">лубрикант</span>
                        </h2>
                        <p>
                          для безграничного удовольствия
                        </p>
                      </div>
                      <div class="hero-buttons">
                        <a href="#" class="btn btn-lg btn-primary">
                          Узнать больше
                        </a>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>

            <div class="swiper-navigation">
              <div class="swiper-pagination"></div>

              <button type="button" class="btn btn-lg btn-icon btn-blur-light swiper-button-prev"></button>
              <button type="button" class="btn btn-lg btn-icon btn-blur-light swiper-button-next"></button>
            </div>
          </div>

          <div class="swiper-container new-arrivals-swiper">
            <div class="swiper">
              <div class="swiper-wrapper">
                @for (var i = 0; i < 10; i++) {
                  <div class="swiper-slide">
                    <article class="new-arrivals-card">
                      <a href="#" class="stretched-link"></a>

                      <picture>
                        <source srcset="./img/new-arrivals/image-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/new-arrivals/image-1.png" class="image" width="60" height="60" alt="Фото">
                      </picture>
                      <h3>
                        новинки
                      </h3>
                    </article>
                  </div>
                }
              </div>
            </div>
          </div>
        </section>

        <section class="section about">
          <div class="container">
            <div class="section-header">
              <h2 class="section-title">
                магазин интимных
                <br>
                товаров для взрослых
              </h2>
            </div>

            <div class="about-body">
              <div class="about-pictures"
                data-transfer-target="about-image-3">
                <picture>
                  <source srcset="./img/about/image-1.webp" type="image/webp">
                  <img loading="lazy" src="./img/about/image-1.jpg" class="image" width="396" height="276" alt="Фото">
                </picture>
                <picture>
                  <source srcset="./img/about/image-2.webp" type="image/webp">
                  <img loading="lazy" src="./img/about/image-2.jpg" class="image" width="304" height="304" alt="Фото">
                </picture>
              </div>
              <div class="about-content">
                <div class="about-content-description">
                  <p>
                    Сеть вдохновляющих магазинов для взрослых Влюблённый кролик — безопасное пространство наполненное смыслами, тягой к экспериментам, новыми ощущениями, пропитанное нежностью и заботой.
                  </p>

                  <a href="#" class="btn btn-lg btn-secondary">
                    Подробнее о нас
                  </a>
                </div>

                <div>
                  <picture
                    data-transfer-origin="about-image-3"
                    data-transfer-breakpoint="575.98"
                    data-transfer-placement="last">
                    <source srcset="./img/about/image-3.webp" type="image/webp">
                    <img loading="lazy" src="./img/about/image-3.jpg" class="image" width="400" height="200" alt="Фото">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section section-border">
          <div class="container cards-swiper">
            <div class="section-header">
              <h2 class="section-title">
                со скидкой
              </h2>

              <div class="swiper-navigation">
                <button type="button" class="btn btn-sm btn-icon btn-blur-secondary swiper-button-prev"></button>
                <button type="button" class="btn btn-sm btn-icon btn-blur-secondary swiper-button-next"></button>
              </div>
            </div>

            <div class="swiper">
              <div class="swiper-wrapper">
                @for (var i = 0; i < 10; i++) {
                  <div class="swiper-slide">
                    @include('partials/card.html')
                  </div>
                }
              </div>
            </div>
          </div>
        </section>



        <section class="section section-border">
          <div class="container cards-swiper">
            <div class="section-header">
              <h2 class="section-title">
                новинки
              </h2>

              <div class="swiper-navigation">
                <button type="button" class="btn btn-sm btn-icon btn-blur-secondary swiper-button-prev"></button>
                <button type="button" class="btn btn-sm btn-icon btn-blur-secondary swiper-button-next"></button>
              </div>
            </div>

            <div class="swiper">
              <div class="swiper-wrapper">
                @for (var i = 0; i < 10; i++) {
                  <div class="swiper-slide">
                    @include('partials/card.html')
                  </div>
                }
              </div>
            </div>
          </div>
        </section>

        <section class="section section-border">
          <div class="container cards-swiper">
            <div class="section-header">
              <h2 class="section-title">
                Хиты
              </h2>

              <div class="swiper-navigation">
                <button type="button" class="btn btn-sm btn-icon btn-blur-secondary swiper-button-prev"></button>
                <button type="button" class="btn btn-sm btn-icon btn-blur-secondary swiper-button-next"></button>
              </div>
            </div>

            <div class="swiper">
              <div class="swiper-wrapper">
                @for (var i = 0; i < 10; i++) {
                  <div class="swiper-slide">
                    @include('partials/card.html')
                  </div>
                }
              </div>
            </div>
          </div>
        </section>
      </div>

      @include('partials/floating-bottom.html')
      @include('partials/offcanvases.html')
      @include('partials/modals.html')
    </main>

    @include('partials/footer.html')
  </div>
</body>

</html>
