// базовые подключения
@import "mixins";
@import "vars";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/utilities";
@import "./components/containers";
@import "./components/typography";
@import "./components/section";
@import "./components/icons";
@import "./components/buttons";
@import "./components/field-control";
@import "./components/alert";
@import "./components/badge";
@import "./components/nav";
@import "./components/rating";
@import "./components/review";
@import "./components/counter";
@import "./components/cards-swiper";
@import "./components/card";
@import "./components/location";
@import "./components/search";
@import "./components/socials";
@import "./components/contacts";
@import "./components/callback";
@import "./components/logo";
@import "./components/breadcrumb";
@import "./components/page";
@import "./components/filter";
@import "./components/nouislider";
@import "./components/header";
@import "./components/menu";
@import "./components/hero";
@import "./components/new-arrivals";
@import "./components/about";
@import "./components/brands";
@import "./components/activities";
@import "./components/articles";
@import "./components/subscribe";
@import "./components/mailing-list";
@import "./components/stories";
@import "./components/product";
@import "./components/content";
@import "./components/gift";
@import "./components/empty";
@import "./components/list";
@import "./components/price";
@import "./components/order";
@import "./components/feedback";
@import "./components/hint";
@import "./components/separator";
@import "./components/authfast";
@import "./components/grid-card";
@import "./components/map";
@import "./components/footer";
@import "./components/floating-bottom";
@import "./components/scroll";
@import "./components/calendar";
@import "./components/choices";
@import "./components/collapse";
@import "./components/accordion";
@import "./components/dropdown";
@import "./components/offcanvas";
@import "./components/modal";
@import "./components/tooltip";
@import "./components/swiper";
